body {
    width: 100%;
    height: 100%;
    display: flex;
}

.Films {
    width: 100%;
    height: 100%;
    display: flex;
    background: silver;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

/*.buttons{*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/
button {
    width: 100%;
    background: #1c2b53;
    color: snow;
    border-radius: 5%;
}

.buttonsContainer {
    width: 100%;
    height: 100%;
    display: flex;

}